<h1>Ipsum Bipsum Bop Blog<br><small>nothing rhymes with ipsum</small></h1>
<hr>
<nav>
  <%= link_to "Home", root_path, class: "btn btn-default" %>
  <%= link_to "Add", new_post_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_post_path(id: @post.id), class: "btn btn-default" %>
  <%= link_to "Delete", root_path, method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-default", style:"border:1px solid red;" %>
</nav>
