<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="fixed">
        <h1>Ipsum Bipsum Bop Blog<br><small>nothing rhymes with ipsum</small></h1>
        <nav>
          <button type="button" class="btn btn-default"><%= link_to "Home", root_path %></button>
        </nav>
      </div>
    </div>
    <div class="col-md-8">
      <h1>New Post</h1>
      <%= render 'form' %>
    </div>
  </div>
</div>
